@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root
{
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
}
body
{
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
}
main
{
  width: 600px;
  margin: 50px auto;
}
h1
{
  color: var(--primaryColor);
}
h1 svg
{
  width: 40px;
  fill: var(--primaryColor);
}
#header
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 6px 30px;
}
#buttons
{
  text-align: right;
}
#info
{
  color: var(--primaryColor);
}
button
{
  background-color: rgba(255, 255, 255, .2);
  border: 0;
  color: rgba(255, 255, 255, .5);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

div#game
{
  line-height: 35px;
  height: 105px;
  overflow: hidden;
}

div.word
{
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  margin: 0 5px;
}